/.idea/
/testORC/.idea/
/testORC/target/
/Distributed-DBMS/.idea/
/Distributed-DBMS/target/
/Coordinator/.idea/
/Coordinator/target/
/DumpingGround/testORC/.idea/
/DumpingGround/testORC/target/
/DumpingGround/TestingDeployment/.idea/
/DumpingGround/TestingDeployment/Coordinator/.idea/
/DumpingGround/TestingDeployment/Coordinator/target/
/DumpingGround/TestingDeployment/Distributed-DBMS/.idea/
/DumpingGround/TestingDeployment/Distributed-DBMS/target/
/Data/Testing-main/target/
/Data/Testing-main/.idea/
/CTests/build/
/CTests/orc/
/CTests/cmake-build-debug/
/CTests/CMakeFiles/
/Worker/target/
/Worker/.idea/
/DumpingGround/Distributed-DBMS/.idea/
/DumpingGround/Distributed-DBMS/target/
/m2/
/.idea/
/RunResults/target/
/RunResults/.idea/
/DumpingGround/Coordinator/.idea/
/DumpingGround/Coordinator/target/
Coordinator/Coordinator.iml
Coordinator/Coordinator.iml
/Data/CSVGEn/env/
/Data/CSVGEn/orc-tools-1.7.5-uber.jar
/Data/CSVGEn/dbgen/*.tbl
/Data/CSVGEn/dbgen/*.o
/Data/CSVGEn/venv/
/Data/CSVGEn/.idea/
/.ipynb_checkpoints/
/Data/CSVGEn/1d7a6e36-9a69-4d45-884a-d2bb2e07045b-tpc-h-tool/
/Worker/Worker.iml
/RunResults/Done Results/
/RunResults/logs-raw/*.log
/RunResults/logs-raw/2022-not mem/*.log
/RunResults/logs-raw/mdmdmd/*.log
/RunResults/logs-raw/mmm/*.log
/RunResults/accumulate/
/RunResults/old-stuff/
/RunResults/logs.log
/RunResults/output.txt
/DumpingGround/old-stuff-s3/
/RunResults/generated-sources
/RunResults/logs-raw/corrida 60-threads
/WorkerThreads/.idea/
/WorkerThreads/Worker.iml
/CoordinatorCalcite/.idea/
/CoordinatorCalcite/target/
/CoordinatorCalcite/CoordinatorCalcite.iml
/PythonWorkers/.idea
/PythonWorkers/img_align_celeba/
/PythonWorkers/imgclass/
/Data/list_attr_celeba.csv/
/PythonWorkers/venv/
/PythonWorkers/archive.zip
/PythonWorkers/archive/
/PythonWorkers/weights.best.inc.male.hdf5
/PythonWorkers/saved_model/
PythonWorkers/metadata.json
/PythonDependencies/
/PythonWorkersBackup/
*/*.DS_Store
.DS_Store
/RunResults/*.txt
/RunResults/*.csv
untitled/untitled.iml
CoordinatorCalcite/Coordinator.iml
