/.idea/
/testORC/.idea/
/testORC/target/
/Distributed-DBMS/.idea/
/Distributed-DBMS/target/
/Coordinator/.idea/
/Coordinator/target/
/DumpingGround/testORC/.idea/
/DumpingGround/testORC/target/
/DumpingGround/TestingDeployment/.idea/
/DumpingGround/TestingDeployment/Coordinator/.idea/
/DumpingGround/TestingDeployment/Coordinator/target/
/DumpingGround/TestingDeployment/Distributed-DBMS/.idea/
/DumpingGround/TestingDeployment/Distributed-DBMS/target/
/TestFiles/Testing-main/target/
/TestFiles/Testing-main/.idea/
/CTests/build/
/CTests/orc/
/CTests/cmake-build-debug/
/CTests/CMakeFiles/
/Worker/target/
/Worker/.idea/
/DumpingGround/Distributed-DBMS/.idea/
/DumpingGround/Distributed-DBMS/target/
/.m2/
.m2/
.idea/